$primary-color: #6da4c09d;
$text-color: bisque;
$border-radius: 8px;
$background-color: rgba($primary-color, 0.5);

.slickList {
  width: 320px;
  margin-top: 50px;
}
.slickSlide {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  position: relative !important;
  align-items: center;
}
.actorImage {
  width: 155px;
  height: 220px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.actorInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 155px;
  height: 220px;
}
.actorName,
.actorRole {
  padding: 2px 8px;
  color: $text-color;
  background-color: $primary-color;
}
.actorName {
  width: 140px;
  font-size: 14px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}
.actorRole {
  width: 140px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
//==========================================
@media screen and (min-width: 768px) {
  .slickList {
    width: 660px;
  }
  .actorImage,
  .actorInfo {
    width: 160px;
  }
  .actorName,
  .actorRole {
    width: 144px;
  }
}
//==========================================
@media screen and (min-width: 1440px) {
  .slickList {
    width: 820px;
  }
}
