$primary-color: #6da4c09d;
$text-color: bisque;
$border-radius: 8px;
$background-color: rgba($primary-color, 0.5);

.slickList {
  width: 880px;
  margin-top: 50px;
  
}

.slick-initialized  {
        display: flex;
  justify-content: center;
}
.slickSlide {
  display: flex;
  justify-content: center;
}

.actorImage {
  position: relative;
}
.actorInfo {




}

// .container {
//   margin-top: 50px;
//   display: flex;
//   flex-wrap: wrap;
//   width: 375px;
//   gap: 20px 10px;
//   justify-content: center;
//   align-items: center;
// }
// .textSms{
//   padding: 10px;
//   margin: auto;
//   color: white;
//   background-color: $background-color;
// }
.actorCard {
  position: relative;
  width: 160px;
  height: 260px;
  border-radius: $border-radius;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}
.actorName, .actorRole {
  padding: 2px 8px;
  color: $text-color;
  background-color: $primary-color;
}
.actorName {
  width: 144px;
  font-size: 14px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}
.actorRole {
  width: 144px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
// //==========================================
//  @media screen and (min-width: 768px) {
//   .container {
//     width: 768px;
//   }
// } 
// //==========================================
// @media screen and (min-width: 1440px) {
//   .container {
//   width: 1020px;
// }
// }

