$primary-color: #6da4c09d;
$text-color: bisque;
$border-radius: 8px;

.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
  gap: 20px 10px;
  align-items: center;
}
.actorCard {
  width: 160px;
  height: 260px;
  border-radius: $border-radius;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}
.actorName, .actorRole {
  padding: 2px 8px;
  color: $text-color;
  background-color: $primary-color;
}
.actorName {
  font-size: 14px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}
.actorRole {
  width: 144px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
