.container {
  width: 1020px;
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  // a {
  //   // padding: 4px;
  //   // border-radius: 4px;
  //   // color: rgb(234, 240, 240);
  //   // background-color: #6da4c07e;

  //   &:hover {
  //     background-color: #5ea2c47e;
  //   }
  // }
  .linkBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 4px;
    color: rgb(234, 240, 240);
    background-color: #6da4c07e;
  }
  .button {
    font-size: 15px;
    width: 110px;
    padding: 4px;
    border-radius: 4px;
    color: rgb(234, 240, 240);
    background-color: #6da4c07e;
    border: none;
  }
}
.titleBox {
  display: flex;
  position: relative;
}
.goBackLink {
  position: absolute;
  left: 565px;
  font-weight: 600;
  border-radius: 50px;
  padding: 6px 10px;
  margin: auto;
  color: rgb(234, 240, 240);
  background-color: #6da4c07e;
}
.posterImage {
  width: 400px;
  height: 600px;
}
.movieCard {
  display: flex;
  border-radius: 10px;
  gap: 15px;
  padding: 6px;
  color: rgb(234, 240, 240);
  background-color: #6da4c07e;
}
.description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.decorLine {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border: 1px solid #000;
}
.addInfo {
  display: flex;
  width: 400px;
  gap: 20px;
}
