$primary-color: #111;
$secondary-color: #1c1b1b;
$text-color: rgb(162, 162, 53);

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}
.posterBox {
  position: relative;
}
.moviePoster,
.seriesPoster {
  width: 100%;
  height: auto;
  max-width: 355px;
  border-radius: 8px;
  filter: grayscale(100%);
}
.moviePosterTitle {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 8px;
  font-size: 14px;
  font-weight: normal;
  color: bisque;
  background-color: #111;
  border-radius: 15px;
}
//==========================================
@media screen and (min-width: 768px) {
  // .container {
  //   max-width: 768px;
  // }
  .moviePoster,
  .seriesPoster {
    max-width: 748px;
    filter: grayscale(100%);
  }
  .moviePosterTitle {
    top: 0px;
    right: 5px;
    font-size: 34px;
    font-weight: bold;
    color: $text-color;
    background-color: transparent;
  }
}
//==========================================
@media screen and (min-width: 1440px) {
  // .container {
  //   width: 1040px;
  // }
  .moviePoster,
  .seriesPoster {
    max-width: 1020px;
  }
}
