$primary-color: #111;
$secondary-color: #1c1b1b;
$text-color: rgb(23, 23, 22);

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 100%;
}
.posterBox {
  position: relative;
}
.moviePoster {
  width: 1020px;
  height: 580px;
  filter: grayscale(100%);
}
.seriesPoster {
  width: 1020px;
  height: 580px;
  filter: grayscale(100%);
}
.moviePosterTitle {
  position: absolute;
  bottom: 0px;
  right: 5px;
  font-size: 34px;
  font-weight: bold;
  color: $text-color;
  // background-color: #111;
}
//==========================================
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
//==========================================
@media screen and (min-width: 1440px) {
.container {
  width: 1060px;
}
.moviePoster {
  width: 1020px;
  height: 580px;
  filter: grayscale(100%);
}
} 