$primary-color: #6da4c09d;
$text-color: bisque;
$border-radius: 8px;
$background-color: rgba($primary-color, 0.5);

.slickList {
  width: 320px;
  margin-top: 50px;
}
.slickSlide {
  display: flex !important;
  position: relative !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.actorImage {
  width: 145px;
  height: 210px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.actorInfo {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 145px;
  height: 210px;
}
.actorName,
.actorRole {
  width: 129px;
  padding: 2px 8px;
  color: $text-color;
  background-color: $primary-color;
  border-bottom-left-radius: 8px;
}
.actorName {
  font-size: 14px;
  border-top-right-radius: 8px;
}

//if slider off
.actorList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.actorCard {
  position: relative;
}
.textSms {
  text-align: center;
  background-color: $primary-color;
  color: $text-color;
  padding: 10px;
  width: 260px;
  margin: auto;
}
//==========================================
@media screen and (min-width: 768px) {
  .slickList {
    width: 660px;
  }
  .actorImage,
  .actorInfo {
    width: 140px;
  }
  .actorName,
  .actorRole {
    width: 124px;
  }
}
//==========================================
@media screen and (min-width: 1440px) {
  .slickList {
    width: 980px;
  }
}
