$primary-color: #33333570;
$secondary-color: #1c1b1b;
$text-color: bisque;
$border-radius: 8px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 375px;
  height: 50px;
  gap: 15px;
  background-color: $primary-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-top: 15px;
  padding: 10px 0 5px;
}
.navBox {
  width: 100%;
  max-width: 345px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 50px;
  width: 70px;
}
.logoText {
  color: $text-color;
  font-size: 24px;
  font-weight: 400;
}
//=========================================
@media screen and (min-width: 768px) {
  .container {
    height: 60px;
    max-width: 768px;
    padding: 0;
  }
  .navBox {
    max-width: 768px;
  }
  .logo {
  padding-left: 10px;
}
}
//=========================================
@media screen and (min-width: 1440px) {
  .container {
    margin: 200px auto;
    max-width: 1060px;
  }
  .navBox {
    max-width: 1020px;
  }
  .logoBox {
    margin-right: 40px;
  }
}
