$primary-color: #33333570;
$secondary-color: #1c1b1b;
$text-color: bisque;
$border-radius: 8px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

.container {
  margin:  auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 335px;
  height: 60px;
  gap: 15px;
  background-color: $primary-color;
  padding: 0 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
.navBox {
  display: flex;
  align-items: center;
}
.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.logo {
  height: 50px;
  width: 70px;
}
.logoText {
  color: $text-color;
  font-size: 24px;
  font-weight: 400;
}
//=========================================
/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
} */

@media screen and (min-width: 1440px) {
.container {
  margin: 200px auto;
  width: 1020px;
}
.navBox {
  width: 1020px;
}
.logoBox {
  margin-right: 40px;
}
.logo {
  height: 50px;
  width: 70px;
}
.logoText {
  color: $text-color;
  font-size: 24px;
  font-weight: 400;
}
} 

