$primary-color: #33333570;
$text-color: bisque;
$container-width: 1020px;
$container-height: 60px;
$border-radius: 8px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

.container {
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: $container-width;
  height: $container-height;
  background-color: $primary-color;
  padding: 0 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
.navBox {
  display: flex;
  align-items: center;
  width: $container-width;
}
.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
.logo {
  height: 50px;
  width: 70px;
}
.logoText {
  color: $text-color;
  font-size: 24px;
  font-weight: 400;
}
