$titleColor: bisque;
$cardColor: rgba(239, 233, 119, 0.303);
$cardBackground: #222222;
$cardShadow: rgba(0, 0, 0, 0.7);
$cardText: #db9336;
$cardHoverText: #eee;
$cardHoverShadow: #222222;

.title {
  text-align: center;
  color: $titleColor;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 12px;
}

.actorList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px 1px;
}

.actorCard {
  color: $cardText;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: right;
  width: 100%;
  border: 1px solid $cardBackground;
  border-radius: 8px;

  background-image: url('../../../img/person-star.png');
  background-color: $cardColor;
  background-size: 100px;
  background-position: 209px -2px;
  background-blend-mode: soft-light;
  background-repeat: repeat-y;
}

.actorCard *,
.actorCard *:before,
.actorCard *:after {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.actorCard img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
  filter: sepia(65%);
}

.actorCard::before,
.actorCard::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #179983;
  opacity: 0.5;
  transition: all 0.45s ease;
}

.actorCard:before {
  transform: skew(30deg) translateX(80%);
}

.actorCard:after {
  transform: skew(-30deg) translateX(70%);
}

.actorCard figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 20px 20px 20px 40%;
}

.actorCard figcaption:before,
.actorCard figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $cardBackground;
  box-shadow: 0 0 20px $cardShadow;
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.actorCard figcaption:before {
  transform: skew(30deg) translateX(100%);
}

.actorCard figcaption:after {
  transform: skew(-30deg) translateX(90%);
}

.actorCard h3,
.actorCard p {
  margin: 0;
  opacity: 0;
}

.actorCard h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 60px;
}

.actorCard p {
  font-size: 0.9em;
  margin-top: 52px;
  color: $cardText;
}

.actorCard:hover h3,
.actorCard.hover h3,
.actorCard:hover p,
.actorCard.hover p {
  transform: translateY(0);
  opacity: 0.9;
  text-shadow: 1px 3px 2px $cardHoverShadow;
}

.actorCard:hover:before,
.actorCard.hover:before {
  transform: skew(30deg) translateX(30%);
  transition-delay: 0.05s;
}

.actorCard:hover:after,
.actorCard.hover:after {
  transform: skew(-30deg) translateX(20%);
}

.actorCard:hover figcaption:before,
.actorCard.hover figcaption:before {
  transform: skew(30deg) translateX(50%);
  transition-delay: 0.15s;
}

.actorCard:hover figcaption:after,
.actorCard.hover figcaption:after {
  transform: skew(-30deg) translateX(40%);
  transition-delay: 0.1s;
}
