.container {
  position: relative;
  font-size: 14px;
  font-family: Figtree;
  font-weight: normal;
  padding: 14px;

  a {
    &:hover,
    &.active {
      color: bisque;
    }
  }
}
.menu {
  display: flex;
  gap: 50px;
}
//========================================
@media screen and (min-width: 768px) {
  .container {
    font-size: 20px;
    font-weight: 800;
    padding: 18px;
    margin-right: 180px;
    width: 300px;
  }
}
//========================================
@media screen and (min-width: 1440px) {
  .container {
    font-size: 24px;
    padding: 16px;
    letter-spacing: 0.1em;
    margin-right: 330px;
  }
}
