.container {
  display: flex;
  gap: 35px;
  font-size: 32px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding: 15px;

  a {
    &:hover,
    &.active {
      color: bisque;
    }
  }
}