$primary-color: #111;
$secondary-color: #1c1b1b;
$text-color: bisque;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 100%;
}
.seriesTitle {
  font-size: 14px;
  text-align: center;
  color: $primary-color;
}
.seriesGallery {
  display: flex;
  gap: 7px 7px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.seriesItem {
  width: 150px;
  height: 278px;
  border-radius: 4px;
  background-color: $secondary-color;
}
.seriesPoster {
  width: 150px;
  height: 220px;
}
.seriesPosterTitle {
  display: flex;
  font-size: 14px;
  width: 150px;
  height: 50px;
  padding: 4px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $text-color;
}
//==========================================
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
    .seriesGallery {
  gap: 18px 10px;
}
}
//==========================================
@media screen and (min-width: 1440px) {
.container {
  max-width: 1060px;
}
} 