.container {
  position: relative;
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}
.overlay::after {
  content: '';
  position: absolute;
  top: 45px;
  left: 6px;
  width: 97%;
  height: 65%;
  opacity: 0;
  border-radius: 8px;
  background-color: rgba(5, 5, 5, 0.5);
  transition: opacity 0.3s ease;
}
.overlay:hover::after {
  opacity: 1;
}
.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: url('../../../img/play.png') no-repeat center center;
  background-size: 80px 80px;
}
.slideContainer {
  display: flex;
  overflow-x: hidden;
  width: 320px;
  transition: transform 1s ease;
}
.slide {
  flex: 0 0 auto;
}
.boxSlideImg {
  width: 318px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('../../../img/kadr.png');
  background-size: 312px 246px;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}
.slideImg {
  width: 300px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.title {
  margin-top: 20px;
  text-align: center;
  color: bisque;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 16px;
}
.titleMovie {
  position: absolute;
  width: 80%;
  left: 8px;
  bottom: 45px;
  color: bisque;
  background: linear-gradient(to right, #111111, rgba(17, 17, 17, 0));
  padding: 2px 6px;
  border-bottom-left-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 1px 0px 3px #161616;
}
.navBtn {
  .prevButton {
    width: 100px;
    border-bottom-left-radius: 30px;
    font-family: Anta;
  }
  .nextButton {
    width: 100px;
    border-bottom-right-radius: 30px;
    font-family: Anta;
  }
  .prevButton,
  .nextButton {
    background: linear-gradient(to bottom, #33333570, #111);
    border: none;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .prevButton:hover,
  .nextButton:hover {
    background: linear-gradient(to bottom, #09090975, #68696851);
    outline: none;
  }
}
//=======================================
@media screen and (min-width: 768px) {
  .container {
    max-width: 640px;
  }
  .slideContainer {
    width: 624px;
  }
  .slide {
    flex: 0 0 50%;
  }
  .boxSlideImg {
    width: 312px;
  }
  .titleMovie {
    left: 6px;
  }
}
//=======================================
@media screen and (min-width: 1440px) {
  .container {
    max-width: 960px;
  }
  .slideContainer {
    width: 960px;
  }
  .slide {
    flex: 0 0 20%;
  }
  .boxSlideImg {
    width: 312px;
  }
}
