$backdrop-color: rgba(0, 0, 0, 0.5);
$content-background-color: #000;
$close-button-color: #0f0e0e;

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modalContent {
  position: relative;
  background-color: $content-background-color;
  border-radius: 5px;
  max-width: 100%; 
  max-height: 100%; 
  overflow: hidden; 
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $close-button-color;
}
.iframe {
  width: 320px;
  height: 240px;
}
//==========================================
 @media screen and (min-width: 768px) {
.iframe {
  width: 720px;
  height: 400px;
}
} 
//==========================================
@media screen and (min-width: 1440px) {
.iframe {
  width: 960px;
  height: 540px;
}
}