$primary-color: #33333570;
$text-color: bisque;

.footer {
  position: static;
  width: 100%;
  max-width: 360px;
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 30px;
  box-shadow: inset 2px 2px 16px #111;
  border: 4px double rgba(255, 228, 196, 0.6);
  background-image: url('../../img/lenta.png');
  background-size: contain;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}
.footerContent {
  display: flex;
  width: 100%;
  max-width: 375px;
  color: bisque;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
  padding: 20px;
}
.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 90px;
  width: 130px;
}
.logoText {
  text-align: center;
  font-family: Anta;
  color: $text-color;
  font-size: 24px;
}
.byApi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.tmdb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: bisque;
  margin-left: 10px;
  text-shadow: 0px 0px 5px rgba(20, 220, 220, 0.914);
}
.tmdbAccent {
  margin-left: 10px;
  width: 60px;
  height: 25px;
  border-radius: 50px;
  background-color: bisque;
  box-shadow: inset 0px 0px 5px rgba(20, 220, 220, 0.914);
}
.footerNavBox {
  display: none;
}
.navLink {
  text-shadow: 0px 0px 5px rgba(20, 220, 220, 0.914);
}
.navLink:hover,
.navLink:focus {
  color: #fdfcfc80;
}
//=======================================
@media screen and (min-width: 768px) {
  .footer {
    max-width: 760px;
    background-image: url('../../img/string.png');
    background-blend-mode: screen;
  }
  .footerNavBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    width: 330px;
  }
  .navList {
    width: 300px;
    color: beige;
    letter-spacing: 0.1em;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .logo {
    display: none;
  }
}
//=======================================
@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1052px;
    background-image: url('../../img/camera.png');
    background-position: 50px center;
  }
  .logo {
    display: inherit;
  }
}
