$primary-color: #33333570;
$text-color: bisque;

.footer {
  position: static;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-color: $primary-color;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 30px;
  box-shadow: inset 2px 2px 16px #111;
  background-image: url('../../img/lenta.png');
  background-size: contain;
  background-position: center;
  background-blend-mode: screen;
  background-repeat: no-repeat;
}
.footerContent {
  display: flex;
  width: 100%;
  max-width: 320px;
  color: bisque;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 200px;
  padding: 20px;
}
.footerContentText {
  display: none;
}
.logoBox {
  display: none;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 160px;
  width: 180px;
}
.logoText {
  text-align: center;
  font-family: Anta;
  color: $text-color;
  font-size: 24px;
}
.byApi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  color: #7a7979;
}
.tmdb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #111;
  margin-left: 10px;
  text-shadow: 0px 0px 5px rgba(20, 220, 220, 0.914);
}
.tmdbAccent {
  margin-left: 10px;
  width: 60px;
  height: 25px;
  border-radius: 50px;
  background-color: #111;
  box-shadow: inset 0px 0px 5px rgba(20, 220, 220, 0.914);
}
.footerNavBox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .navList {
    font-family: Anta;
    width: 300px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.1em;
  }
  .navText {
    width: 300px;
    margin-top: 8px;
  }
}
.navLink {
  text-shadow: 0px 0px 5px rgba(20, 220, 220, 0.914);
}
.navLink:hover,
.navLink:focus {
  color: #fdfcfc80;
}
//=======================================
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: initial;
    max-width: 760px;
    background-image: none;
  }
  .footerContent {
    justify-content: space-between;
    height: 250px;
  }
  .footerContentText {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footerNavBox {
    margin-top: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    width: 330px;
  }
  .logoBox {
    display: flex;
  }
}
//=======================================
@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1052px;
    background-image: url('../../img/lenta.png');
    background-position: 666px 50px;
  }
  .footerContent {
    justify-content: space-between;
    height: 200px;
  }
  .logo {
    display: none;
  }
}
