$border-color: #000;
$text-color: bisque;
$background-color: #33333570;
$background-light-color: #3333353d;
$border-light-color: rgb(197, 223, 197);

.container {
  max-width: 340px;
  text-align: center;
  color: $text-color;

  .title {
    font-family: Anta;
    font-weight: 400;
    letter-spacing: 0.2em;
    padding: 10px 0px;
  }
}

.listFilm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 22px;
  background-color: $background-light-color;
  padding: 20px;
}

.description {
  width: 200px;
  height: 80px;
}

.posterFilm {
  width: 152px;
  height: 220px;
  border-left: 4px double $border-light-color;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.slickSlide {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  position: relative !important;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px 5px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 980px;
  }
}
