.container {
  width: 980px;
  text-align: center;
  color: bisque;
}
.listFilm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 22px;
}
.description {
  width: 200px;
  height: 80px;
}
.posterFilm {
  width: 200px;
  height: 300px;
}
