$primary-color: #6da4c0;
$secondary-color: #467288;
$text-color: rgb(234, 240, 240);
$border-color: bisque;
$background-color: rgba($primary-color, 0.5);
$scrollbar-track-color: #f1f1f1;
$scrollbar-thumb-color: #888;
$scrollbar-thumb-hover-color: #555;

.container {
  width: 100%;
  max-width: 335px;
  margin-top: 5px;
  padding: 10px;
  color: $text-color;
  background-color: $background-color;
}

.title {
  text-align: center;
  font-size: 16px;
  color: rgba(255, 228, 196, 0.7);
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-top: 10px;
  margin-bottom: 5px;
}

.commentsWrapper {
  max-height: 300px;
  overflow-y: auto;
}

.commentsWrapper::-webkit-scrollbar {
  width: 8px;
}

.commentsWrapper::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}

.commentsWrapper::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
  border-radius: 6px;
}

.commentsWrapper::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover-color;
}

.commentsWrapper.hasReviews {
  overflow-y: hidden;
}

.commentBox {
  margin: 10px;
}

.authorBox {
  background-color: rgba($secondary-color, 0.6);
  padding: 8px;
  width: max-content;
  border-top-right-radius: 10px;
  border: 1px solid $border-color;
}

.contentBox {
  background-color: rgba($primary-color, 0.62);
  padding: 6px 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid $border-color;
  letter-spacing: 0.04em;
}

.noReviewSms {
  color: $border-color;
  text-align: center;
}

//==========================================
@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
  .title {
    margin-top: 20px;
  }
}

//==========================================
@media screen and (min-width: 1440px) {
  .container {
    max-width: 960px;
  }
}
