$primary-color: #111;
$secondary-color: #1c1b1b;
$text-color: bisque;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 100%;
}
.movieTitle {
  font-size: 14px;
  text-align: center;
  color: $primary-color;
}
.movieGallery {
  display: flex;
  gap: 7px 7px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.movieItem {
  width: 150px;
  height: 278px;
  border-radius: 4px;
  background-color: $secondary-color;
}
.moviePoster {
  width: 150px;
  height: 220px;
}
.moviePosterTitle {
  display: flex;
  // font-size: 14px;
  width: 145px;
  height: 50px;
  padding: 4px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $text-color;
}
//==========================================
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .movieGallery {
    gap: 18px 10px;
  }
}
//==========================================
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1060px;
    min-width: 1060px;
  }
}
