$primary-color: #6da4c07e;
$text-color: rgb(234, 240, 240);
$border-radius: 10px;
$background-color: rgba(69, 78, 83, 0.6);

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  border-radius: $border-radius;

  .linkBox,
  .button {
    width: 60px;
    padding: 6px;
    font-size: 12px;
    border-radius: 4px;
    color: $text-color;
    background-color: $primary-color;
  }

  .linkBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 72px;
    border: none;
  }
}
.backgroundImageContainer {
  width: 100%;
  max-height: 375px;
}
.titleBox {
  display: flex;
  width: 100%;
  max-width: 320px;
}
.titleBox h1 {
  font-size: 26px;
}
.goBackLink {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 600;
  border-radius: 50px;
  padding: 6px 10px;
  margin: auto;
  color: $text-color;
  background-color: $primary-color;
}
.seriesCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  margin-bottom: 5px;
  color: $text-color;
  border-radius: $border-radius;
  background-color: $background-color;
}
.posterImage {
  display: none;
}
.description {
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info {
  display: flex;
  height: 380px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;
}
.ratingBox {
  margin-bottom: 10px;
}
.overview {
  width: 100%;
  max-width: 350px;
  height: 180px;
  overflow-y: auto;
  margin-bottom: 10px;
}
.addInfo {
  display: flex;
  width: 100%;
  max-width: 350px;
  gap: 10px;
}
//==========================================
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    max-height: 410px;

    .linkBox,
    .button {
      font-size: 14px;
      letter-spacing: 0.1em;
      width: 80px;
      padding: 8px;
      border-radius: 4px;
    }
    .button {
      width: 96px;
    }
  }
  .backgroundImageContainer {
    max-width: 746px;
    max-height: 410px;
    background-repeat: no-repeat;
    background-position: 140px;
  }
  .seriesCard {
    max-width: 729px;
    margin-bottom: -15px;
    background: linear-gradient(
      to right,
      rgba(69, 78, 83, 0.96) 30%,
      rgba(69, 78, 83, 0.6) 70%
    );
    padding: 10px;
  }
  .titleBox {
    width: 420px;
  }
  .posterImage {
    display: block;
    width: 260px;
    height: 390px;
  }
  .description {
    justify-content: initial;
    width: 600px;
  }
  .overview {
    width: 466px;
    overflow-y: hidden;
    margin-bottom: 20px;
  }
}
//==========================================
@media screen and (min-width: 1440px) {
  .container {
    width: 1020px;
  }
  .backgroundImageContainer {
    width: 1025px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 140px;
  }
  .description {
    justify-content: initial;
    height: 600px;
  }
  .info {
    height: auto;
  }
  .posterImage {
    width: 410px;
    height: 600px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .seriesCard {
    padding: 0;
    width: 100%;
  }
  .goBackLink {
    top: 6px;
    left: 562px;
  }
  .titleBox {
    display: flex;
    flex-direction: column;
  }
  .titleBox h1 {
    margin-top: 10px;
    width: 500px;
    font-size: 32px;
  }
  .overview {
    width: 530px;
    margin-bottom: 10px;
  }
  .decorLine {
    width: 590px;
    height: 2px;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #000;
  }
  .addInfo {
    width: 400px;
    gap: 20px;
  }
}
