$primary-color: #6da4c07e;
$text-color: rgb(234, 240, 240);
$border-radius: 10px;

.container {
  width: 375px;
  padding: 20px;
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .linkBox,
  .button {
    width: 100px;
    padding: 8px;
    border-radius: 4px;
    color: $text-color;
    background-color: $primary-color;
  }

  .linkBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    font-size: 15px;
    width: 110px;
    padding: 4px;
    border: none;
  }
}
.backgroundImageContainer {
  width: 335px;
  height: 395px;
}
.titleBox {
  display: flex;
  position: relative;
}
.goBackLink {
  position: absolute;
  left: 320px;
  font-weight: 600;
  border-radius: 50px;
  padding: 6px 10px;
  margin: auto;
  color: $text-color;
  background-color: $primary-color;
}
.seriesCard {
  width: 350px;
  display: flex;
  border-radius: $border-radius;
  gap: 15px;
  padding: 6px;
  color: $text-color;
  background-color: $primary-color;
  margin-bottom: 5px;
}
.description {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info {
  display: flex;
  height: 380px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;
}
.ratingBox {
  margin-bottom: 10px;
}
.overview {
  width: 350px;
}
.addInfo {
  display: flex;
  width: 350px;
  gap: 10px;
}
//==========================================
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .seriesCard {
    width: 768px;
  }
  .posterImage {
    width: 260px;
    height: 385px;
  }
  .description {
    justify-content: initial;
    width: 600px;
  }
  .overview {
    width: 480px;
    margin-bottom: 20px;
  }
  .goBackLink {
    left: 462px;
  }
}
//==========================================
@media screen and (min-width: 1440px) {
  .container {
    width: 1020px;
  }
  .backgroundImageContainer {
    width: 1020px;
    height: 610px;
  }
  .description {
    justify-content: initial;
    height: 600px;
  }
  .info {
    height: auto;
  }
  .posterImage {
    width: 400px;
    height: 600px;
  }
  .seriesCard {
    width: 100%;
  }
  .goBackLink {
    left: 577px;
  }
  .titleBox {
    display: flex;
    flex-direction: column;
  }
  .titleBox h1 {
    width: 500px;
    font-size: 32px;
  }
  .overview {
    width: 100%;
    margin-bottom: 10px;
  }
  .decorLine {
    top: 40px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border: 1px solid #000;
  }
  .addInfo {
    width: 400px;
    gap: 20px;
  }
}
